doctype html
html
  head
    title Contact
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/lib/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/style.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/lib/contact.css', rel='stylesheet', media='screen')

  body
    div.site-wrapper
      div.site-wrapper-top
        div.cover-container
          div.masthead.clearfix
            div.inner
              h3.masthead-brand Contact
              nav
                ul.nav.masthead-nav
                  li
                    a(href="/") Home
                  li
                    a(href="/projects") Projects
                  li
                    a(href="/resume") Resume
                  li
                    a(href="https://github.com/chadthman") GitHub
                  li.active
                    a(href="/contact") Contact
          div.inner
            p.lead Please Leave A Message
            form(method='POST' action="/contact/addMessage" role="form")
              textarea.card(name='message' placeholder='Type your message here!')
              button.btn.btn-large.btn-default Post
              if messages.length > 0
                each item in messages
                  div.card
                    span #{item.message}
          div.mastfoot
            div.inner
              p
                | © 2017&nbsp;
                a(href="https://twitter.com/chadthman") @chadthman

script(src='/javascripts/lib/jquery-1.11.3.min.js')
script(src='/javascripts/lib/jquery-ui.min.js')
script(src='/javascripts/lib/bootstrap.min.js')


