doctype html
html
  head
    title Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/lib/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/lib/cover.css', rel='stylesheet', media='screen')

  body
    div.site-wrapper
      div.site-wrapper-inner
        div.cover-container
          div.masthead.clearfix
            div.inner
              h3.masthead-brand Welcome
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href="/") Home
                  li
                    a(href="#") About Me
                  li
                    a(href="#") Resume
                  li
                    a(href="https://github.com/chadthman") GitHub
                  li
                    a(href="#") Contact
          div.inner.cover
            h1.cover-heading Cover your page
            p.lead
              | Cover is a one-page template for building simple and
              | beautiful home pages. Download, edit the text, and
              | add your own fullscreen background photo to make it your own.
            p.lead
              a.btn.btn-lg.btn-default(href="#") Learn More
          div.mastfoot
            div.inner
              p
                | © 2017
                a(href="https://twitter.com/chadthman") @chadthman

script(src='/javascripts/lib/jquery-1.11.3.min.js')
script(src='/javascripts/lib/jquery-ui.min.js')
script(src='/javascripts/lib/bootstrap.min.js')


